*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color:hsl(0, 0%, 8%);
}

.main{
    margin: 20% auto;
    border-radius: 50%;
    position: relative;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 12%);
    border-radius: 2%;
    max-width: 500px;
    min-width: 70px;
    height: max-content;
    max-height: max-content;
    min-height: 220px;
    padding: 3%;
}
.intro h1{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    margin-top: 10%;
}

#loc{
    color: hsl(75, 94%, 57%);
}
#desc{
    font-weight: 400;
    font-size: 110%;
    margin: 8% auto;
}
#logo {
    border-radius: 50%;
    width: 35%;
    height: 35%;
    margin-top: 7%;
}
.social{
    width: 100%;
}
button{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 130%;
    border: none;
    border-radius: 1rem;
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    background-color: hsl(0, 0%, 20%);
    
    
}
button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition: 200ms;
    cursor: pointer;
}


.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}